<?xml version="1.0" encoding="UTF-8"?>
<!--mapper임을 명시하기 위한 DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 중복되지 않고 고유해야만 한다. -->
<mapper namespace="com.spring.mapper.BoardMapper">
	
	<!-- 
		 id: dao와 연결을 위한 값 
		 resultType : 반환되는 데이터의 값을 명시	
	-->
	<select id="getAllBoard" resultType="com.spring.board.dto.BoardDTO">
		SELECT
				*
		FROM
				BOARD
	
	</select>
	
	<select id="getOneBoard" parameterType="int" resultType="com.spring.board.dto.BoardDTO">
		SELECT
				*
		FROM
				BOARD
		WHERE
			NUM=#{num}
	</select>

	
	<insert id="insertBoard" parameterType="com.spring.board.dto.BoardDTO">
		INSERT INTO BOARD(
			WRITER,
			EMAIL,
			SUBJECT,
			PASSWORD,
			REG_DATE,
			READ_COUNT,
			CONTENT)
		VALUES(
			#{writer},
			#{email},
			#{subject},
			#{password},
			now(),
			#{readCount},
			#{content})	
		
	</insert>
	
	<update id="increaseReadCount" parameterType="int">
		UPDATE
				BOARD
		SET
				READ_COUNT = READ_COUNT + 1
		WHERE
				NUM=#{num}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM
			BOARD
		WHERE
			NUM=#{num}		
	</delete>
	
	<update id="updateBoard" parameterType="com.spring.board.dto.BoardDTO">
		UPDATE
				BOARD
		SET
				SUBJECT=#{subject},
				CONTENT=#{content}	
		WHERE
				NUM=#{num}
			
	</update>
	
	<select id="validateUserCheck" parameterType="com.spring.board.dto.BoardDTO" resultType="com.spring.board.dto.BoardDTO">
		SELECT
				*
		FROM
				BOARD
		WHERE
				NUM=#{num} AND PASSWORD=#{password}
	</select>
	
	

</mapper>